body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#right, #left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#right div, #left div, #sign-in{
    padding: 5px;
    border-radius: 5px;
    height: inherit;
    color: rgb(255, 255, 255);
}


header{
    margin-top: 0px;
    background-color: rgb(14,17,40);
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#download{
    height: 40px;
    color: white;
    background-color:rgb(52, 195, 255);
} 

/** #right a:hover, #left a:hover{
    cursor:pointer; 
    
}
**/
#download:hover{
    color: black;
}
#left div:hover, #right div:hover,#sign-in{
    color: rgb(52, 195, 255);
    cursor: pointer;
    fill: rgb(52, 195, 255);
}
#sign-in-icon{
    width: 20px;
    height:20px;
    fill:blue;
}
#sign-in{
    display: flex;
    flex-direction: row;
    align-content: center;
}
#sign-in:hover{
    color: rgb(52, 195, 255);
    fill: rgb(52, 195, 255);
}
path{
    stroke: none;
    stroke-width: 1;
    stroke-dasharray:  none;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 10;
    fill: rgb(255, 255, 255); 
    fill-rule: nonzero;
    opacity:1;
}

/** path:hover{
    fill:rgb(52, 195, 255);
}
**/

#language-items{
    position:absolute;
    top: 50px;
    right: 70px;
    display: none;
}
i{
    color: white;
}
#language-items a:hover{
    color: rgb(52, 195, 255);
}

#search{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchText input{
    border: 2px solid rgb(52, 195, 255);
    border-radius: 3px;
    height: 1.3rem;
    fill: red;
}

#searchText{
    display: none;
    flex-direction: row;
    align-items: center;
}

#searchText input{
    color: white;
    background-color: rgb(3, 16, 116);
    outline: none;
    border: none;
}