*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
a{
    text-decoration: none;
    color: #D99F1F;
}




    /******************************** this css involved in hero section only ****************************/

.hero-content{
    width: 100%;
    height: 60em;
    background-image: url("../image/hero-img4k.png");
    background-size: cover;
    background-position: center;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
}
.hero-content .hero-search-bt-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.hero-content .primary-navigation{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-content: center;
}



                                   /** top primary navigatio**/
.hero-content .primary-navigation .topPrimaryNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
hr{
    margin-top: 20px;
    color:rgb(35 33 33);
    background-color:rgb(35 33 33);
    border-width: 5px;
    border:none;
    height: 2px;
}
.hero-content .primary-navigation .topPrimaryNav .leftTopPrimaryNav, .rightTopPrimaryNav{
    display: flex;
    align-items: center;
    color:#D99F1F ;
    font-weight:bold;
    font-size: 23px;
}
.rightTopPrimaryNav .menue-icon img{
    margin: 0px 40px;
}
#jans-logo{
    width: 125px;
}
.social-media img , .menue-icon img, #hero-menue-icon,#cancel_icon{
    height: 35px;
}

.topPrimaryNav .leftTopPrimaryNav:hover{
    cursor: pointer;
}




                                   /**Bottom primary navigation**/
.bottomPrimaryNav{
    font-size: 20px;
    color: white;
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.rightBottomPrimaryNav{
    position: absolute;
    right: 0px;
    top: 0px;
}
.rightBottomPrimaryNav img{
    margin-right: 40px;
}
                                   /* global stock menue drop down */
.globalMenue{
    display: none;
    transition-delay: 1s;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 286px;
    height: 242px;
    color: black;
    position: absolute;
    top: 2.1em; 
    background-color: white;

    font-size: 23px;

    transition: display, 1s ease-in-out;
}
.globalMenue li , .aboutMenue li, .GlobalContactMenue li{
    padding: 25px;
    list-style: none;
}

/* About Menue drop down */

.aboutMenue{
    display: none;
    position: absolute;
    background-color: white;
    top: 2.4em;
    width: 262px;
    height: 381px;
    color: black;

}
.aboutMenue li{
    list-style: none;
}

/* Global contact menue */

.GlobalContactMenue{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background-color: white;
    top: 2.4em;
    width: 262px;
    height: 242px;
    color: black;

}
.GlobalContactMenue li{
    list-style: none;
}
                                          /* hero drop down menue*/
.menue{
    display:none; 
    position: absolute;
    top: 2.4em;
    right: 0px;

    width: 262px;
    height: 430px;
    background-color: white;
    color: black;
}
.cancel-icon{
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.menue li{
    list-style: none;
    padding: 30px;
}
li[data-color="gray"]{
    background-color: #a79b84;
    box-shadow:0 0 3px rgb(0, 0, 0) inset;
}
li[data-color="white"]{
    background-color: #e1c7a5;
    box-shadow:0 0 3px rgb(9, 9, 9,55) inset;
}





.leftBottomPrimaryNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftBottomPrimaryNav>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 4em;
}
.leftBottomPrimaryNav>div hr{
    height: 5px;
    width: 6em;
}
hr[data-type="over"]{
    background-color: #D99F1F;
}
.bottom-line{
    margin: 0px;
}

.global_contact:hover , .about-us:hover, .globalStock:hover, .rightBottomPrimaryNav:hover{
    cursor: pointer;
}

.GlobalContactMenue{

}



/* Search button at the Bottom of Hero setion */
.hero-search-bt{
    padding: 0px 20px;
    border-style: none;
    border-radius: 5px;
    width: 800px;
    height: 70px;
    margin-bottom:31px;
    background-color: #f0f0f0;
    font-size: 33px;
    color: #7070704b;
}

.GlobalontactMenue ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Animation key frame*/

@keyframes jump{
    100%{
        transform: translateY();
    }
    50%{
        transform: translateY();
    }
    0%{
        transform: translateY()
    }
}












/****************** This css involve second section named (Search car section) ***********************/


.search_car_section{
    display: flex;
    flex-direction: column;
    align-items: center;

    width:auto;
    background-color: #ffffff;
    height:800px;
    overflow: hidden;
    position: relative;
}

.search_car_section .search_car_container{
    top: 30px;
    position:relative;
    width: 800px;
    height: 300px;
    overflow: hidden;
    background-color: aliceblue;
    border-radius: 3px;
    box-shadow: 0 0 9px ;
}
.search_car_section .type_of_car_choices{
    display: flex;
    overflow: hidden;
    position: absolute;
}
.search_car_section .type_of_car_choices > div{
    display:flex;
    flex-direction: row;
    justify-content: center;

    width: 200px;
    height: 200px;
    background-color:inherit;
    margin: 10px;
}


/* Button*/
.type_of_car_choices>div{
 display: flex;
 flex-direction: row;
 justify-content: stretch;
 align-items: center;
 align-content:center
}






/************************************************** Device modals***************************************/
@media (min-width: 1440px){
    .hero-content{
        height: 130em;
    }
}
@media(max-width: 1440px){
    .hero-content{
        height: 60em;
    }
}
@media(max-width: 1024px){
    .hero-content{
        height: 40em;
    }
}
@media(max-width: 425px){
    .hero-content{
        background-position: -120px;
        height: 30em;
        background-size: cover;

    }
}
@media(max-width: 320px){
    .hero-content{
        background-position: -30px;
        height: 30em;
        background-size: cover;

    }
}

