*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

/** this css involved in hero section only **/

.hero-content{
    width: 100%;
    height: 60em;
    background-image: url("../image/hero-img4kweb.png");
    background-size: cover;
    background-position: center;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
}
.hero-content .hero-search-bt-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.hero-content .primary-navigation{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-content: center;
}
.hero-content .primary-navigation .topPrimaryNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
hr{
    margin-top: 20px;
    color: rgb(63, 62, 62);
    background-color: rgb(80, 80, 80);
    border-width: 5px;
    border:none;
    height: 2px;
}
.hero-content .primary-navigation .topPrimaryNav .leftTopPrimaryNav, .rightTopPrimaryNav{
    display: flex;
    align-items: center;
    color:#D99F1F ;
    font-weight:bold;
    font-size: 23px;
}
.rightTopPrimaryNav .menue-icon img{
    margin: 0px 40px;
}
#jans-logo{
    width: 125px;
}
.social-media img , .menue-icon img{
    height: 35px;
}
.hero-search-bt{
    border-style: none;
    width: 257px;
    height: 70px;
    margin-bottom:31px;
    background-color: #D99F1F;
    font-size: 33px;
    color: #707070;
}


@media (min-width: 1440px){
    .hero-content{
        height: 130em;
    }
}
@media(max-width: 1440px){
    .hero-content{
        height: 60em;
    }
}
@media(max-width: 1024px){
    .hero-content{
        height: 40em;
    }
}
@media(max-width: 425px){
    .hero-content{
        background-position: -120px;
        height: 30em;
        background-size: cover;

    }
}
@media(max-width: 320px){
    .hero-content{
        background-position: -30px;
        height: 30em;
        background-size: cover;

    }
}

